{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "standard-with-typescript",
    "prettier",
    "prettier/standard",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": "error"
  }
}
